// $video-width: 980px;

.video-block {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 12px 40px;
  display: flex;
  flex-direction: column;

  .title {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 12px;
    // margin-left: 100px;
    color: white;
    text-align: center;
  }

  .video-wrapper {
    // width: $video-width;
    margin: auto;
    height: calc(100% - 88px);

    .video {
      height: 100%;
    }
  }

  .controls {
    width: 100%;
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 12px;

    .play {
      width: 50px;
      background-color: inherit;
      font-size: 1rem;
      border-width: 2px;
      padding: 0;
      flex-grow: initial;
      height: 40px;
    }
  }
}

.visualizationContainer {
  width: 100%;
  position: relative;
  height: calc(100% - 72px);
  display: flex;
  // justify-content: center;
  // margin-left: 130px;

  .canvasWrapper {
    position: relative;
    height: 100%;
    box-sizing: border-box;
    display: inline-block;
    overflow: visible;
  }
  canvas {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
  }
}

.menu {
  position: absolute;
  width: 200px;
  // height: 100px;
  z-index: 500;
  background-color: #e5e5e5;
  user-select: none;
  padding: 0.5rem 0.5rem;

  border-radius: 8px;
  box-shadow: 5px 5px 2px 0px rgba(0, 0, 0, 0.2);

  .title {
    margin-bottom: 0 !important;
    color: #7a7a7a;
    font-weight: 400;
  }

  .option {
    color: #17a2b8;
    &:hover {
      background-color: #17a2b8;
      color: white;
    }
  }
}
