@import "/node_modules/bulma/css/bulma.css";

// * {
//   box-sizing: border-box;
// }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", Arial, Helvetica, sans-serif;
  min-height: 90vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

$top-height: 54px;
$bottom-height: 150px; // calc(100vh - #{$middle-height} - #{$top-height} - #{$bbottom-height});
$bbottom-height: 32px;

.button.is-outlined {
  font-weight: 600;
  color: #17a2b8;
  border-color: #17a2b8;
  background-color: transparent;
  border-width: 2px !important;

  &.margin {
    margin: 0 10px;
  }

  &.active,
  &:hover {
    color: #fff;
    border-color: #17a2b8;
    background-color: #17a2b8;
  }
}

.content {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin-bottom: 0 !important;
  height: 100vh;

  .top {
    height: $top-height;
    font-size: 1.5em;
    color: white;
    background-color: #161618;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.28);
    border-bottom: 1px solid #61616b;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-right: 20px;
    padding-left: 12px;

    .top-title {
      line-height: $top-height;
      margin-left: 24px;
    }

    button {
      border-width: 2px;
      color: #a2a2a4;
    }
  }

  .divide {
    border: 1px solid #313030;
    border-top: none;
    border-bottom: none;
    width: 1vw;
    background-color: #202022;
  }

  .up {
    height: 100%;
    display: flex;

    .full {
      width: 100%;
      background-color: #121214;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding: 8px;
    }

    .left {
      width: 64vw;
      background-color: #121214;
      // display: flex;
      // align-items: center;
    }

    .right {
      width: 35vw;
      background-color: #121214;
      position: relative;
    }
  }

  .bottom {
    height: $bottom-height;
    position: relative;
  }

  .bbottom {
    height: $bbottom-height;
    background-color: #202022;
    color: #a2a2a4;
    display: flex;
    align-items: center;

    span {
      margin-left: 20px;
      margin-right: 20px;
    }
  }

  .videoTitle {
    font-size: 16px;
    font-weight: 400;
    margin: 12px 0;
    color: white;
    text-align: center;
  }

  .controls {
    width: 100%;
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 12px;

    .play {
      width: 50px;
      background-color: inherit;
      font-size: 1rem;
      border-width: 2px;
      padding: 0;
      flex-grow: initial;
      height: 28px;
    }
  }

  .text-editor-wrapper {
    position: absolute;
    width: 500px;
    // min-height: 300px;
    right: 20px;
    top: 300px;
    padding: 1rem;
    background-color: white;
  }
}

#video-block {
  // width: 1000px;
  margin: 24px auto;
}

#annot-block {
  // width: 700px;
  margin: auto auto;
  overflow-y: scroll;
  width: 800px;
  height: 52vh;

  .inner {
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    display: flex;
    align-items: flex-start;

    &::-webkit-scrollbar {
      width: 10px;
      height: 5px;
    }

    &::-webkit-scrollbar-thumb {
      background: black;
      border-radius: 10px;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }
  }
}

.debug {
  position: absolute;
  right: 30px;
  display: flex;
  flex-direction: column;
  align-items: end;

  .court {
    background-color: #fff;

    .marker {
      background-color: lightpink;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      position: absolute;
      transform: translate(-50%, -50%);
      user-select: none;
      text-align: center;
    }

    // .court-img {
    //   width: 648px;
    // }
  }

  .chart {
    width: fit-content;
    background-color: #fff;
  }
}

.featurePanel {
  width: 200px;
  position: fixed;
  background: #f5f5f5;
  border-radius: 8px;
  padding: 8px;
  right: 20px;
  top: 40px;
  z-index: 100;

  .featureItem {
    display: flex;
    gap: 8px;

    span {
      text-transform: capitalize;
    }

    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }
}
